﻿@using System.Web.Mvc.Html
@model InvoiceManager.Models.BindingModels.Invoice.BussinessCredentialsBindingModel
@{
    ViewBag.Title = "FirstInvoice";
    string notConfigurateInvoiceStrLng = InvoiceManager.Web.App_Languages.Resources.Add_Bussines_Info_Page.AddBussinessInfoPageTexts.NotConfiguredInvoiceMsg;
    string addYourBussinesCredentialsStrLng = InvoiceManager.Web.App_Languages.Resources.Add_Bussines_Info_Page.AddBussinessInfoPageTexts.AddYourBussinesInfo;
    string yourBussinedDataWillbeUsedStrLng = InvoiceManager.Web.App_Languages.Resources.Add_Bussines_Info_Page.AddBussinessInfoPageTexts.DataWillBeUsedForNexInvoice;
    string nextButton = InvoiceManager.Web.App_Languages.Resources.Add_Bussines_Info_Page.AddBussinessInfoPageTexts.NextButton;
}

<div class="jumbotron">
    <div class="text-center">
        <h2 class="text-danger">
         @notConfigurateInvoiceStrLng
        </h2>
    </div>

</div>
<br />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateFirstBussinessCredentialsl</title>
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            <h4>@addYourBussinesCredentialsStrLng</h4>
            <p class="text-info">
                @yourBussinedDataWillbeUsedStrLng
            </p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.TypeOfManagment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TypeOfManagment, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.TypeOfManagment, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.ProviderName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ProviderName, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.ProviderName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.Uic, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Uic, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Uic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.AccountablePerson, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AccountablePerson, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.AccountablePerson, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@nextButton" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
