﻿@using System.Web.Mvc.Html
@model IEnumerable<InvoiceManager.Models.ViewModels.Invoice.AllInvoicesViewModel>

@{
  
    DateTime dateTtime = DateTime.Now;

    string companyDatStringLng = InvoiceManager.Web.App_Languages.Resources.AllInvoices_Page.AllInvoicesTexts.CompanyData;
    string newInvoiceStringLng = InvoiceManager.Web.App_Languages.Resources.AllInvoices_Page.AllInvoicesTexts.NewInvoice;
    string detailsLinkStringLng = InvoiceManager.Web.App_Languages.Resources.AllInvoices_Page.AllInvoicesTexts.DetailsLink;
    string deleteLinkStringLng = InvoiceManager.Web.App_Languages.Resources.AllInvoices_Page.AllInvoicesTexts.DeleteLink;
    string allInvoicesStringLng = InvoiceManager.Web.App_Languages.Resources.AllInvoices_Page.AllInvoicesTexts.AllInvoices;

    ViewBag.Title = allInvoicesStringLng;

}

<h3>@allInvoicesStringLng</h3>

<h4><time>@dateTtime.ToString("dd.MM.yyyy")</time></h4>
<p>
    @Html.ActionLink(newInvoiceStringLng, "CreateNewInvoice")
</p>

<div class="row">
    <div class="col-xs-6">
        <div id="companyData"></div>
        <div class="container">
            @Ajax.ActionLink(companyDatStringLng, "GetCompanyCredentialsData", null, new AjaxOptions()
       {
           HttpMethod = "GET",
           UpdateTargetId = "companyData",
           InsertionMode = InsertionMode.Replace,
           AllowCache = true
       }, new
       {
           @class = "btn btn-default btn-sm col-md-2"
       })
        </div>
        <br />
    </div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfInvoice)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TypeOfService)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateOfdDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProviderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecepientName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfInvoice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeOfService)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateOfdDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RecepientName)
            </td>
            <td>
                @Html.ActionLink(detailsLinkStringLng, "DetailsInvoice", new { id = item.Id }) |
                @Html.ActionLink(deleteLinkStringLng, "DeleteInvoice", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@section Scripts{
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

