﻿@model InvoiceManager.Models.ViewModels.Invoice.BussinessCredentialsOnInvoiceVm

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BussinessCredentialsOnInvoiceView</title>
</head>
<body>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt>Доставчик</dt>
                <dd>@Html.DisplayFor(model=> model.ProviderName)</dd>
                <dt>ЕИК</dt>
                <dd>@Html.DisplayFor(model=> model.Uic)</dd>
                <dt>МОЛ</dt>
                <dd>@Html.DisplayFor(model=>model.AccountablePerson)</dd>
                <dt>Адрес</dt>
                <dd>@Html.DisplayFor(model=> model.Address)</dd>
            </dl>
        </div>
    </div>
</body>
</html>
<br />
