﻿@model InvoiceManager.Models.BindingModels.Invoice.InvoiceValueBindigModel

@{
    DateTime dateTtime = DateTime.Now;
}

!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/index-style.css">

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="text-capitalize">
                    <h2>Logo</h2>
                    <h3> <time>@dateTtime.ToString("dd.MM.yyyy")</time></h3>
                    <br />
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-8">
                <div id="companyData"></div>
                <div id="loadingEffect" hidden="hidden">
                </div>
                <div class="container">
                    @Ajax.ActionLink("Фирменни данни", "GetCompanyCredentialsData", null, new AjaxOptions()
               {
                   HttpMethod = "GET",
                   UpdateTargetId = "companyData",
                   InsertionMode = InsertionMode.Replace,
                   LoadingElementId = "loadingEffect",
                   LoadingElementDuration = 3000,
                   AllowCache = true
               }, new
               {
                   @class = "btn btn-default btn-sm"
               })
                </div>

            </div>
            <div class="col-sm-4">
                <div id="recepient"></div>

                @Ajax.ActionLink("Получател", "AddRecepient", null, new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "recepient",
               InsertionMode = InsertionMode.Replace,
               LoadingElementDuration = 3000,
               AllowCache = true

           }, new
           {
               @class = "btn btn-default btn-sm"
           })



            </div>

        </div>
    </header>
    <main>
        <div class="container body-content span=8 offset=2">
            
            @using (Ajax.BeginForm("CreateInvoice", "Invoice", null, new AjaxOptions()
            {
                HttpMethod = "POST",
                AllowCache = true,
                OnSuccess = "toogleAnimation"

            }, new { @class = "form-horizontal" }))

            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <legend>Попълнете данните</legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeOfService, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.TypeOfService, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TypeOfService, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeOfMeasure, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.TypeOfMeasure, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TypeOfMeasure, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfDelivery, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            <div class='input-group date' id='datetimepicker1'>
                                @Html.EditorFor(model => model.DateOfDelivery, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DateOfDelivery, "", new { @class = "text-danger" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", type = "text", id = "quantity", onkeyup = "CalculateQuantityAndSinglePrice()" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SinglePrice, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.SinglePrice, new { htmlAttributes = new { @class = "form-control", id = "single-price", onkeyup = "CalculateQuantityAndSinglePrice()" } })
                            @Html.ValidationMessageFor(model => model.SinglePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ResultValue, htmlAttributes: new { @class = "col-sm-4 control-label" })

                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.ResultValue, new { htmlAttributes = new { @class = "form-control", id = "result-value", @readonly = "readonly", value = "0" } })
                            @Html.ValidationMessageFor(model => model.ResultValue, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxBase, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.TaxBase, new { htmlAttributes = new { @class = "form-control", id = "tax-base", @readonly = "readonly", value = "0" } })
                            @Html.ValidationMessageFor(model => model.TaxBase, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxRatePercentage, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.TaxRatePercentage, new { htmlAttributes = new { @class = "form-control", id = "tax-rate-percentage", onkeyup = "CalculateQuantityAndSinglePrice()" } })
                            @Html.ValidationMessageFor(model => model.TaxRatePercentage, "", new { @class = "text-danger" })
                        </div>
                        <i class="fa fa-percent" aria-hidden="true"></i>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VatRate, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.VatRate, new { htmlAttributes = new { @class = "form-control", id = "vat-rate", @readonly = "readonly", value = "0" } })
                            @Html.ValidationMessageFor(model => model.VatRate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentAmount, htmlAttributes: new { @class = "col-sm-4 control-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.PaymentAmount, new { htmlAttributes = new { @class = "form-control", id = "payment-amount", @readonly = "readonly", value = "0" } })
                            @Html.ValidationMessageFor(model => model.VatRate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="btn btn-danger" type="reset">Изчисти</button>
                            <button class="btn btn-primary" type="submit">Потвърди</button>
                            
                            @*Succsess Animation*@
                            <div hidden="hidden" class="col-md-offset-10" id="succsess-animation" toogleAnimation()>
                                <div class="icon icon--order-success svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                                        <g fill="none" stroke="#8EC343" stroke-width="1">
                                            <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                            <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }

        </div>
    </main>
    <footer></footer>

    @section Scripts{
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/moment.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
        <script src="~/Scripts/Custom JS/CalendarPicker.js"></script>
        <script src="~/Scripts/Custom JS/Calculate.js"></script>
        <script src="~/Scripts/Custom JS/ToggleSuccessAnimation.js"></script>
    }
</body>
</html>