﻿@using System.Web.Mvc.Html
@model InvoiceManager.Models.ViewModels.Invoice.DeleteInvoiceViewModel

@{
    ViewBag.Title = $"{InvoiceManager.Web.App_Languages.Resources.Delete_Invoice_Page.DeleteInvocePageTexts.DeleteInvoiceText}  {Model.NumberOfInvoice}";
    int invoiceId = Model.InvoiceId;
    
    string typeOfService = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.TypeOfService;
    string vatRate = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.VatRate;
    string resultValue = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.ResultValue;
    string payAmmount = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.PaymnetAmount;


    string goBackButton = InvoiceManager.Web.App_Languages.Resources.Delete_Invoice_Page.DeleteInvocePageTexts.GobackButton;
    string deleteButton = InvoiceManager.Web.App_Languages.Resources.Delete_Invoice_Page.DeleteInvocePageTexts.DeleteButton;
    string detailsButton = InvoiceManager.Web.App_Languages.Resources.Delete_Invoice_Page.DeleteInvocePageTexts.DetailsButton;
    
   
}    

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteInvoice</title>
</head>
<body>
    <h3 class=text-warning>@InvoiceManager.Web.App_Languages.Resources.Delete_Invoice_Page.DeleteInvocePageTexts.deleteInvoiceWarning</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NumberOfInvoice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberOfInvoice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProviderName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProviderName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RecepientName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RecepientName)
            </dd>
        </dl>

        @foreach (var invoiceValue in Model.InvoiceValues)
            {
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>@typeOfService:</td>
                                    <td>@resultValue:</td>
                                    <td>@vatRate:</td>
                                    <td>@payAmmount</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@invoiceValue.TypeOfService</td>
                                    <td>@invoiceValue.ResultValue</td>
                                    <td>@invoiceValue.VatRate</td>
                                    <td>@invoiceValue.PaymentAmount</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        }
        
        <br />
        @using (Html.BeginForm("DeleteInvoiceConfimerd", "Invoice"))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value=@deleteButton class="btn btn-default btn-sm" /> 
                @Html.ActionLink(goBackButton, "AllInvoices",null, new {@class="btn btn-primary btn-sm"})
                @Html.ActionLink(detailsButton,"DetailsInvoice",new {id = invoiceId}, new {@class="btn btn-info btn-sm"})
            </div>
        }
    </div>
</body>
</html>
