﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvoiceError</title>
</head>
<body>
<div class="jumbotron">
    <div class="text-danger">
        <h3 class="text-center">
            Въвеждането на Получател е задължително!
        </h3>
    </div>
</div>
</body>
</html>
