﻿@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/index-style.css">
</head>
<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Invoice Manager</h1>
                <h2>All your invoice's are here!</h2>
                <p>
                    <a class="btn btn-primary btn-lg">Learn more</a>
                </p>
            </div>
        </div>
    </header>

    <main>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <div class="rounded-border">
                        <i class="fa fa-file-text-o" id="invoice-icon" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-intro-section">Фактури</h2>
                    <ul class="feature-list-style">
                        <li>
                            <i class="fa fa-id-badge feature-icons-style" aria-hidden="true"></i>
                            Когато качите логото на Вашата фирма, то се запомня от приложението и всеки път, когато
                            създавате нова фактура, няма нужда да го качвате отново.
                        </li>
                        <li>
                            <i class="fa fa-plus-circle feature-icons-style" aria-hidden="true"></i>
                            След първото попълване на фирмените Ви данни,лесно можете да създавате следващите си фактури,
                            без да ги въвеждате повторно.
                        </li>
                        <li>
                            <i class="fa fa-hashtag feature-icons-style" aria-hidden="true"></i>
                            Номерът на фактурата се помни автоматично от приложението, за още по-бързо и комфортно
                            създаване на Вашата фактура.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-border">
                        <i class="fa fa-calculator" id="calculate-icon" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-intro-section">Калкулация</h2>
                    <ul class="feature-list-style">
                        <li>
                            <i class="fa fa-plus feature-icons-style calculate" aria-hidden="true"></i>&nbsp;
                            <i class="fa fa-minus feature-icons-style calculate" aria-hidden="true"></i>
                            Крайната сума се изчислява автоматично, спрямо зададените от Вас параметри, като например количество,
                            часове вложен труд или количествени намеления.
                        </li>
                        <li>
                            <i class="fa fa-percent feature-icons-style" aria-hidden="true"></i>
                            Автоматично изчисляване на ДДС.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-border">
                        <i class="fa fa-tablet" id="mobile-first" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-intro-section">Mobile&PC</h2>
                    <ul class="feature-list-style">
                        <li>
                            <i class="fa fa-file-pdf-o feature-icons-style" aria-hidden="true"></i>
                            Генерирайте PDF файла на Вашата фактура, за да можете лесно и удобно да я разпчатате или
                            прикрепите към е-мейл.
                        </li>
                        <br />
                        <li>
                            <i class="fa fa-download feature-icons-style" aria-hidden="true"></i>
                            Свалете генерирания PDF и го съхранете.
                        </li>
                        <br />
                        <br />
                        <li>
                            <i class="fa fa-archive feature-icons-style" aria-hidden="true"></i>
                            Веднъж създадени, Вашите фактура се съхраняват в акаунта Ви, за да можете да имате достъп до тях,
                            навсякъде.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>