﻿@model InvoiceManager.Models.ViewModels.Invoice.CompanyCredentialDataViewModel

@{
    string providerNameStrLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.ProviderName;    
    string uicStrLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.Uic;    
    string accountablePersonStrLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.AccountablePerson;    
    string addressStringLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.Address;    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BussinessCredentialsOnInvoiceView</title>
</head>
<body>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt>@providerNameStrLng</dt>
                <dd>@Html.DisplayFor(model=> model.ProviderName)</dd>
                <dt>@uicStrLng</dt>
                <dd>@Html.DisplayFor(model=> model.Uic)</dd>
                <dt>@accountablePersonStrLng</dt>
                <dd>@Html.DisplayFor(model=>model.AccountablePerson)</dd>
                <dt>@addressStringLng</dt>
                <dd>@Html.DisplayFor(model=> model.Address)</dd>
            </dl>
        </div>
    </div>
</body>
</html>
<br />
