﻿@model InvoiceManager.Models.ViewModels.Invoice.ReadyInvoiceViewModel

@{
    string providerNameStrLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.ProviderName;
    string uicStrLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.Uic;
    string accountablePersonStrLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.AccountablePerson;
    string addressStringLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.Address;
    string recipientStringLng = InvoiceManager.Web.App_Languages.Resources.Company_Data_Partial_View.CompanyDataViewTexts.RecipientName;

    string numberOfInvoiceStringLng = InvoiceManager.Web.App_Languages.Resources.View_Invoice_Page.ViewReadyInvvoice_Texts.NumberOfInvoice;
    string originalInvoiceStringLng = InvoiceManager.Web.App_Languages.Resources.View_Invoice_Page.ViewReadyInvvoice_Texts.OriginalInvoice;


    string typeOfMeasure = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.TypeOfMeasure;
    string typeOfService = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.TypeOfService;
    string quantity = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.Quantity;
    string singlePrice = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.SinglePrice;
    string vatRate = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.VatRate;
    string resultValue = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.ResultValue;
    string taxBase = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.TaxBase;
    string taxRatePercentage = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.TaxRatePercentage;
    string payAmmount = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.PaymnetAmount;
    string vatValue = InvoiceManager.Models.Model_Languages.Resources.Invoice_Value_Model.InvoiceValueModelTexts.ValueOfVat;
}


<br />
<div class="container">
    <header>
        <div class="row header">
            <div class="col-md-4 section-info">
                <dl id="dl-horizontal" class="dl-horizontal provider">
                    <dt>@providerNameStrLng:</dt>
                    <dd>@Html.DisplayFor(model => model.BussinessCredentials.ProviderName)</dd>
                    <dt>@uicStrLng:</dt>
                    <dd>@Html.DisplayFor(model => model.BussinessCredentials.Uic)</dd>
                    <dt>@accountablePersonStrLng:</dt>
                    <dd>@Html.DisplayFor(model => model.BussinessCredentials.AccountablePerson)</dd>
                    <dt>@addressStringLng:</dt>
                    <dd>@Html.DisplayFor(model => model.BussinessCredentials.Address)</dd>
                </dl>
               
            </div>
            <div class="col-md-4 col-md-offset-3 section-info">
                <dl class="dl-horizontal">
                    <dt>@recipientStringLng:</dt>
                    <dd>@Html.DisplayFor(model => model.Recipient.RecipientName)</dd>
                    <dt>@uicStrLng:</dt>
                    <dd>@Html.DisplayFor(model => model.Recipient.Uic)</dd>
                    <dt>@accountablePersonStrLng:</dt>
                    <dd>@Html.DisplayFor(model => model.Recipient.AccountablePerson)</dd>
                    <dt>@addressStringLng:</dt>
                    <dd>@Html.DisplayFor(model => model.Recipient.Address)</dd>
                </dl>
            </div>
        </div>

        <br />

        <h4 class="text-center">@originalInvoiceStringLng</h4>
        <h4 class="text-center">@numberOfInvoiceStringLng @Html.DisplayFor(model => model.Invoice.NumberOfInvoice)</h4>
    </header>
    <br />

    <div class="row table-section">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-xs-6">@typeOfService</th>
                        <th class="col-xs-1">@typeOfMeasure</th>
                        <th class="col-xs-1">@quantity</th>
                        <th class="col-xs-1">@singlePrice</th>
                        <th class="col-xs-1">@vatRate</th>
                        <th class="col-xs-1">@resultValue</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var invoiceValue in Model.Invoice.InvoiceValues)
                {

                    <tr>
                        <td>@invoiceValue.TypeOfService</td>
                        <td>@invoiceValue.TypeOfMeasure</td>
                        <td>@invoiceValue.Quantity</td>
                        <td>@invoiceValue.SinglePrice</td>
                        <td>@invoiceValue.VatRate</td>
                        <td>@invoiceValue.ResultValue</td>
                    </tr>
                }

                </tbody>
               
                <thead>
                    <tr>
                        <th class="col-xs-6"></th>
                        <th class="col-xs-1">@taxBase</th>
                        <th class="col-xs-1">@taxRatePercentage%</th>
                        <th class="col-xs-1">@vatValue</th>
                        <th class="col-xs-1">@payAmmount</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.AllResultValuesSum)</td>
                    <td>@Html.DisplayFor(model => model.VatRatePecentage)%</td>
                    <td>@Html.DisplayFor(model => model.VatRatesSum)</td>
                    <td>@Html.DisplayFor(model => model.PaymentResultSum)</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-2 col-md-offset-1" >
                <h6 class="invoice-header logo">@Html.DisplayFor(model => model.BussinessCredentials.ProviderName)</h6>
                <p>@Html.DisplayFor(model => model.BussinessCredentials.Address)</p>
                <p>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    @Html.DisplayFor(model => model.Invoice.PhoneNumber)
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    @Html.DisplayFor(model => model.Invoice.Email)
                </p>

                <p>
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    @Html.DisplayFor(model => model.Invoice.BussinessDomainAddress)
                </p>
            </div>
        </div>
    </footer>
</div>