﻿@{
    ViewBag.Title = "Home";

    string firstText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.FirstText;
    string secondText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.SecondText;
    string thirdText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.ThirdText;
    string fourthText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.FourthText;
    string fifthText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.FifthText;
    string sixthText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.SixthText;
    string seventhText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.SeventhText;
    string calculationText = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.CalculationgHeading;

    string invoiceHeading = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.InvoiceHeadingText;
    string allInvoicesHeding = InvoiceManager.Web.App_Languages.Resources.Home_Page.HomePageTexts.AllInvoicesText;

     

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/index-style.css">
</head>
<body>
    <header>
        <div class="jumbotron">
            <div class="container">
                <h1>Invoice Manager</h1>
                <h2>@allInvoicesHeding</h2>
            </div>
        </div>
    </header>

    <main>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <div class="rounded-border">
                        <i class="fa fa-file-text-o" id="invoice-icon" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-intro-section">@invoiceHeading</h2>
                    <ul class="feature-list-style">
                      
                        <li>
                            <i class="fa fa-plus-circle feature-icons-style" aria-hidden="true"></i>
                            @firstText
                        </li>
                        <li>
                            <i class="fa fa-hashtag feature-icons-style" aria-hidden="true"></i>
                            @secondText
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-border">
                        <i class="fa fa-calculator" id="calculate-icon" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-intro-section">@calculationText</h2>
                    <ul class="feature-list-style">
                        <li>
                            <i class="fa fa-plus feature-icons-style calculate" aria-hidden="true"></i>&nbsp;
                            <i class="fa fa-minus feature-icons-style calculate" aria-hidden="true"></i>
                           @thirdText</li>
                        <li>
                            <i class="fa fa-percent feature-icons-style" aria-hidden="true"></i>
                          @fourthText
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <div class="rounded-border">
                        <i class="fa fa-tablet" id="mobile-first" aria-hidden="true"></i>
                    </div>
                    <h2 class="heading-intro-section">Mobile&PC</h2>
                    <ul class="feature-list-style">
                        <li>
                            <i class="fa fa-file-pdf-o feature-icons-style" aria-hidden="true"></i>
                          @fifthText
                        </li>
                        <br />
                        <li>
                            <i class="fa fa-download feature-icons-style" aria-hidden="true"></i>
                            @sixthText
                        </li>
                        <br />
                        <br />
                        <li>
                            <i class="fa fa-archive feature-icons-style" aria-hidden="true"></i>
                           @seventhText
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>