.container {
    padding-left: 30px;
    padding-right: 30px;
}

.rounded-border {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #5D686B;
    margin-left: 60px;
}

.heading-intro-section {
    padding-left: 40px;
}

#invoice-icon {
    font-size: 7em;
    display: inline-block;
    color:#C4E776;
    padding-left: 38px;
    padding-top: 28px;
}

#calculate-icon{
    font-size: 7em;
    display: inline-block;
    color:#C4E776;
    padding-left: 35px;
    padding-top: 30px;
}

#mobile-first {
    font-size: 10em;
    display: inline-block;
    color:#C4E776;
    padding-left: 33px;
    padding-top: 15px;
}


.feature-list-style {
    list-style-type: none;
}

ul > li {
    padding: 5px;
}

.feature-icons-style {
    color: #2196F3;
    font-size: 1.5em;
}

.feature-icons-style:hover {
    color: #C4E776;
}

.calculate {
    color: #2196F3;
    font-size: 1em;
}
