﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @*<div class="navbar-btn btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Фактура <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Всички фактури", "AllInvoices", "Invoice")</li>
                            <li>@Html.ActionLink("Нова фактура", "CreateNewInvoice", "Invoice")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Настройки фактура", "", "Invoice")</li>
                        </ul>
                    </div>*@
            </li>
            <li>
                
                @Html.ActionLink(InvoiceManager.Web.App_Languages.Resources.Menu.MenuTexts.HelloString + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
             
            </li>
            <li>@Html.ActionLink(InvoiceManager.Web.App_Languages.Resources.Menu.MenuTexts.Language, "Index", "Language")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@InvoiceManager.Web.App_Languages.Resources.Menu.MenuTexts.Logout</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(InvoiceManager.Web.App_Languages.Resources.Menu.MenuTexts.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(InvoiceManager.Web.App_Languages.Resources.Menu.MenuTexts.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink(InvoiceManager.Web.App_Languages.Resources.Menu.MenuTexts.Language, "Index", "Language")</li>

    </ul>
}
