﻿
@{
    ViewBag.Title = "Change";
}

<h2>Change</h2>

<ul>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { languageAbbrevation = "en" }, null)
    </li>

    <li>
        @Html.ActionLink("Български", "Change", "Language", new { languageAbbrevation = "bg" }, null)
    </li>
    
    <li>
        @Html.ActionLink("Deutsch", "Change", "Language", new { languageAbbrevation = "de" }, null)
    </li>
</ul>